DROP POLICY IF EXISTS \
Tenant
Isolation
for
Matches\ ON matches; CREATE POLICY \Matches
are
visible
to
their
participants
and
tenant
admins\ ON matches FOR SELECT USING (tenant_id = (auth.jwt() ->> 'tenant_id')::uuid OR profile_id IN (SELECT id FROM profiles WHERE user_id = auth.uid()));
