ALTER TABLE profiles ADD COLUMN IF NOT EXISTS full_name TEXT; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS desired_salary INTEGER DEFAULT 0; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS address TEXT; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS city TEXT; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS country TEXT; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS education TEXT; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS degree TEXT; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS university TEXT; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS graduation_year INTEGER;
